.home{
    background-color: #1ABC9C;
    height: 100vh;
}
img{
    width: 15%;
}
.line{
    height: 4px ;
    width: 125px ;
    background-color: white;
    margin-inline:15px;
}
i{
    color: white;
}