<div class="d-flex justify-content-center align-items-center flex-column home gap-2 vh-100">

    <h2 class="fw-bold text-white fs-1 ">ABOUT COMPONENT</h2>
   <div class=" d-flex justify-content-center align-items-center">
    <span class="d-inline-block line"></span>
    <i class="fa-solid fa-star"></i>
    <span class="d-inline-block line"></span>
   </div>
   <span class="d-flex text-white fs-6 container gap-2 text-center">
    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
   </span>
</div>