<div class="footer1 text-white d-flex  justify-content-evenly px-md-5 px-0 text-center align-items-center">
    <span class="footerDetails">
    <h3 class="">LOCATION</h3>
    <h6>2215 John Daniel Drive</h6>
    <h6>Clark, MO 65243</h6>
    </span>
    <span class="footerDetails ">
        <h3>LOCATION</h3>
        <span class="icon "><a href="https://www.facebook.com/ahmed.elmogy.7543/" class="text-decoration-none text-white"><i class="fa-brands fa-facebook"></i></a></span>
        <span class="icon"> <a href="https://www.linkedin.com/in/ahmed-elmogy-591535324/" class="text-decoration-none text-white"><i class="fa-brands fa-linkedin-in"></i></a></span>
        <span class="icon"> <a href="https://www.linkedin.com/in/ahmed-elmogy-591535324/" class="text-decoration-none text-white"><i class="fa-brands fa-x-twitter"></i></a></span>
        <span class="icon">  <a href="https://www.linkedin.com/in/ahmed-elmogy-591535324/"class="text-decoration-none text-white" ><i class="fa-solid fa-globe"></i></a></span>
    </span>
    <span class="footerDetails">
        <h3>ABOUT FREELANCER</h3>
        <h6>Freelance is a free to use, licensed Bootstrap theme created by Route</h6>
    </span>
</div>
<div class="footer2"></div>